{% extends "base.html" %}

{% block content %}

{% if error %}
<div class="alert alert-danger">
  {{ error }}
</div>
{% endif %}

<div class="row justify-content-center">
  <div class="col-md-4">
    <div class="card shadow-lg">
      <div class="card-header bg-dark text-white">
        <h4 class="mb-0">Administratora pieslēgšanās</h1>        
      </div>
      <div class="card-body">
        <form method="post" >
          <div class="mb-3">
            <label class="form-label">Lietotājvārds</label>
            <input type="text" name="username" class="form-control" required>
          </div>
          <div class="mb-3">
            <label class="form-label">Parole</label>
            <input type="password" name="password" class="form-control" required>
          </div>
          <button type="submit" class="btn btn-primary w-100">Pieslēgties</button>
        </form>
      </div>
  </div>
</div>
{% endblock %}
